<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Feature1" value="select * from company"/>
    <add key="Feature2" value="select * from company"/>
    <add key="Feature3" value="select * from company"/>
  </appSettings>
</configuration>